NODE_ADDRESS=127.0.0.1
NODE_ID=mix-1000
NODE_LOG_LEVEL=INFO
NODE_METRICS=0.0.0.0:9100
NODE_PORT=8888
NODE_TYPE=mix
VOLUME_MIXNET=/tmp/mix

DIR_BASE=/mixnet
DIR_BIN=/opt/zkn
IMAGE_AGENT=ghcr.io/0knowledgenetwork/appchain-agent:latest
IMAGE_NODE=ghcr.io/0knowledgenetwork/node:latest
URL_APPCHAIN_INDEXER=http://localhost:8081/graphql
URL_APPCHAIN_SEQUENCER=http://localhost:8080/graphql
URL_APPCHAIN_PROCESSOR=http://localhost:8082/graphql
USE_LOCAL_IMAGES=0
